<!DOCTYPE html>
<html>
<head>
	<title>Download quarterly report</title>
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="colors.css">
    <link rel="stylesheet" href="styles.css">

</head>
<body>

	<!-- Navbar -->
	<nav>
		<a class="navbar-brand" style="float: left; position: absolute">
                <img src="Red_Hat_logo.png"
                     height="70"
                     alt="Red Hat Logo"
                     loading="lazy"
                     class="d-inline-block align-top"
                     style="margin-right: 50px"
                />
        </a>
        <h1 style="text-align:center; position: relative; margin-top: 15px">Download quarterly report</h1>
	</nav>

	<!-- Content -->
	<div class="content" style="text-align: center">
            <p>Thank you for using this tool!</p>
            <p>Generated report will open in a new window, or you can download it by pressing the button below.</p>
			<button type="button" class="btn btn-primary button" id="download" style="">Download</button>
			<button type="reset" class="btn btn-secondary">Go back</button>
	</div>

	<!-- Footer -->
	<footer>
		<div class="container align-items-center" style="display: inline-block; align-self: center; height: 80px">
            <div class="row">
              <div class="col-md-6">
                <p>&copy; 2023 RHELCMP team</p>
              </div>
              <div class="col-md-5">
                <ul class="list-unstyled">
                  <li><a href="#" style="color: var(--primary)">How to use the tool</a></li>
                  <li><a href="#" style="color: var(--primary)">Example of generated report</a></li>
                  <li><a href="#" style="color: var(--primary)">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
	</footer>

</body>
</html>
